WEBFLEET_URL=https://csv.webfleet.com/extern
WEBFLEET_ACCOUNT=your_account
WEBFLEET_USERNAME=your_username
WEBFLEET_PASSWORD=your_password
WEBFLEET_APIKEY=your_api_key
OUTPUT_DIR=/data/out
LOGLEVEL=INFO
DAYS=7
POWERBI_URL=https://app.powerbi.com/view?r=YOUR_EMBED_URL
